In [18]:
import json
import pandas as pd

In [19]:
df = pd.read_csv('../mapping-data/sample_data/wine-ratings-small.csv')
df.shape[0]

780

In [24]:
df.head()

,Unnamed: 0,name,grape,region,variety,rating,notes
0,0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
1,1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
2,2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90.0,"A very attractive fruit bouquet yields apple, ..."
3,3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."
4,4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."

1. Filter by red and white wine

In [20]:

df_clean = df[df['variety'].isin(['White Wine', 'Red Wine'])]
df_clean.shape[0]

766

2. Wine score range between 90 and 92

In [ ]:
df_clean = df_clean[(df_clean['rating'] >= 90.0) & (df_clean['rating'] <= 92.0)]
df_clean.shape[0]

3. df_clean.head()

In [30]:
res = []
for i in range(df_clean.shape[0]):
    dict_final = {}
    dict_final['variety'] = df_clean['variety'].iloc[i]
    dict_final['rating'] = df_clean['rating'].iloc[i]
    dict_final['region'] = df_clean['region'].iloc[i]

    res.append(dict_final)

{'variety': 'White Wine', 'rating': 90.0, 'region': 'Kamptal, Austria'}

In [31]:
with open('data.json', 'w') as file:
    json.dump(res, file)
# final_json_data = json.dumps(res)