In [1]:
# Fake data for example
%pip install faker

Collecting faker
  Downloading Faker-17.5.0-py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 1.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /Users/ian/opt/anaconda3/lib/python3.9/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/ian/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-17.5.0

In [1]:
import sqlite3
from faker import Faker

### The SQLite connection create a file called _sample.db_

In [2]:
connection = sqlite3.connect('sample.db')
cursor = connection.cursor()

## Create a table

In [ ]:
table_query = 'CREATE TABLE IF NOT EXISTS people (id integer primary key, name TEXT, surname TEXT)'
cursor.execute(table_query)
connection.commit()

In [8]:
fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]
names[:20]

[['Linda', 'Caldwell'],
 ['Tina', 'Walsh'],
 ['Melissa', 'Bennett'],
 ['Christopher', 'West'],
 ['Bethany', 'Smith'],
 ['Jaime', 'Kramer'],
 ['Christopher', 'Rosario'],
 ['Rachel', 'Butler'],
 ['Jill', 'Gaines'],
 ['Michael', 'Palmer'],
 ['Margaret', 'Ramos'],
 ['David', 'King'],
 ['Melinda', 'Murphy'],
 ['Zachary', 'Haley'],
 ['Patrick', 'Bates'],
 ['Molly', 'Mendoza'],
 ['Edwin', 'Turner'],
 ['Maria', 'Cardenas'],
 ['Nathan', 'Smith'],
 ['Shawn', 'Lee']]

### Connect to SQLite

In [9]:
#conn = sqlite3.connect('sample.db')
#cursor = conn.cursor()
insert_query = 'INSERT INTO people (name, surname) VALUES (?, ?)'
id = 0
for nombre in names:
    id += 1
    cursor.execute(insert_query, nombre)

connection.commit()

### View table with data into

In [10]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

(1, 'Linda', 'Caldwell')
(2, 'Tina', 'Walsh')
(3, 'Melissa', 'Bennett')
(4, 'Christopher', 'West')
(5, 'Bethany', 'Smith')
(6, 'Jaime', 'Kramer')
(7, 'Christopher', 'Rosario')
(8, 'Rachel', 'Butler')
(9, 'Jill', 'Gaines')
(10, 'Michael', 'Palmer')

## SQL commands

In [4]:
select_statement = 'SELECT * FROM people'
for result in cursor.execute(select_statement):
    print(result)

(1, 'Linda', 'Caldwell')
(2, 'Tina', 'Walsh')
(3, 'Melissa', 'Bennett')
(4, 'Christopher', 'West')
(5, 'Bethany', 'Smith')
(6, 'Jaime', 'Kramer')
(7, 'Christopher', 'Rosario')
(8, 'Rachel', 'Butler')
(9, 'Jill', 'Gaines')
(10, 'Michael', 'Palmer')
(11, 'Margaret', 'Ramos')
(12, 'David', 'King')
(13, 'Melinda', 'Murphy')
(14, 'Zachary', 'Haley')
(15, 'Patrick', 'Bates')
(16, 'Molly', 'Mendoza')
(17, 'Edwin', 'Turner')
(18, 'Maria', 'Cardenas')
(19, 'Nathan', 'Smith')
(20, 'Shawn', 'Lee')
(21, 'Diana', 'Hicks')
(22, 'Colleen', 'Collins')
(23, 'Michael', 'Byrd')
(24, 'Edward', 'Perkins')
(25, 'Aaron', 'Reilly')
(26, 'Scott', 'Sandoval')
(27, 'Amy', 'Rice')
(28, 'Michelle', 'Grant')
(29, 'Rose', 'Ramos')
(30, 'Gabriela', 'Ruiz')
(31, 'Angela', 'Mckinney')
(32, 'Pamela', 'Boyer')
(33, 'Gina', 'Brown')
(34, 'Dustin', 'Rodriguez')
(35, 'Jeremiah', 'Henderson')
(36, 'Gregory', 'Frey')
(37, 'Katherine', 'Johnson')
(38, 'Bridget', 'Anderson')
(39, 'Ashley', 'Mcclain')
(40, 'Laura', 'Rush')
(41, 'Jamie', 'Burton')
(42, 'Eric', 'Schwartz')
(43, 'Jessica', 'Manning')
(44, 'Kathleen', 'Bates')
(45, 'Kyle', 'Herrera')
(46, 'Michael', 'Watson')
(47, 'Scott', 'Hayes')
(48, 'Janet', 'Snyder')
(49, 'Lauren', 'Durham')
(50, 'Alan', 'Smith')
(51, 'David', 'Thompson')
(52, 'Amy', 'Sanders')
(53, 'Ashley', 'Weiss')
(54, 'Margaret', 'Wang')
(55, 'Victoria', 'Bradford')
(56, 'Sharon', 'Williams')
(57, 'Michael', 'Mcknight')
(58, 'Virginia', 'Mcdaniel')
(59, 'Lisa', 'Cisneros')
(60, 'Alexis', 'Williams')
(61, 'Jermaine', 'Alvarez')
(62, 'Joshua', 'Clark')
(63, 'Jamie', 'Williams')
(64, 'Jessica', 'Dunn')
(65, 'Destiny', 'Romero')
(66, 'Norman', 'Melton')
(67, 'Kimberly', 'Walker')
(68, 'Heather', 'Hahn')
(69, 'Rodney', 'Smith')
(70, 'Edwin', 'Mclaughlin')
(71, 'Robert', 'Johnson')
(72, 'Brian', 'Fuller')
(73, 'Cheryl', 'Conner')
(74, 'Jamie', 'Smith')
(75, 'Bobby', 'Craig')
(76, 'Beth', 'Thomas')
(77, 'Amanda', 'Atkinson')
(78, 'Beth', 'Perez')
(79, 'Joshua', 'Bowen')
(80, 'Eric', 'Hernandez')
(81, 'Scott', 'Gordon')
(82, 'Mark', 'Beck')
(83, 'Monica', 'Kelly')
(84, 'Robert', 'Hill')
(85, 'Natalie', 'Rowe')
(86, 'Tiffany', 'Garner')
(87, 'Jamie', 'Reese')
(88, 'Eric', 'Buck')
(89, 'Stephanie', 'Moreno')
(90, 'Marcus', 'Wilson')
(91, 'David', 'Bryant')
(92, 'Jessica', 'Huff')
(93, 'Kenneth', 'Johnson')
(94, 'Cheryl', 'Lopez')
(95, 'Louis', 'Hudson')
(96, 'Michael', 'Roberts')
(97, 'Richard', 'Olson')

In [ ]:
connection.close()